*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #B91450;
  font-family: 'Roboto', sans-serif;
}
.container{
  width: 50%;
  margin: auto;
}

/* tipography */
h2{
  color: white;
  text-transform: uppercase;
  margin-bottom: 20px;
}
h4{
  font-size: 20px;
  height: 50px;
  display: flex;
  align-items: center;
}

label{
  color: #B91450;
  margin-bottom: 10px;
}
/* UTILITY */
.d-flex{
  display: flex;
}

.text_center{
  text-align: center;
}

/* selection ∞calcolo_biglietto */
#calcolo_biglietto{
  margin: 20px 0;
}
#calcolo_biglietto .row{
  justify-content: space-around;
  padding: 20px;
}

#calcolo_biglietto .card-rounded{
  background-color: white;
  border-radius: 6px;
  box-shadow: 2px 2px 10px black;
}

#calcolo_biglietto .col{
  flex-basis: calc(100% / 3);
  padding: 50px;
  flex-direction: column;
}

input, select{
  text-align: center;
  border: 1px solid #B91450;
  border-radius: 6px;
  padding: 5px;
}

.btn{
  border: 1px solid #808080;
  border-radius: 6px;
  padding: 5px;
  color: #B91450;
  background-color: #CCCCCC;
}
.btn:hover{
  border: 2px solid #9C609D;
}

/* selection#biglietto */
#biglietto{
  margin: 0 auto 20px;
}
#card{
  padding: 20px;
}

#biglietto .col{
  width: calc(100% / 5);
  padding: 30px 20px;
  display: flex;
  flex-direction: column;
}
#biglietto .col.name{
  width: 250px;
}
#biglietto .name > p{
  margin-top: 10px;
}
#biglietto p{
  margin-top: 100px;
  font-size: 20px;
  display: flex;
  align-items: center;
}
